@font-face{
    font-family: 'JetBrainsMono_Regular';
    src: url('../fonts/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('../fonts/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('../fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face{
    font-family: 'JetBrainsMono_Light';
    src: url('../fonts/JetBrainsMono/web/woff2/JetBrainsMono-Light.woff2') format('woff2'),
    url('../fonts/JetBrainsMono/web/woff/JetBrainsMono-Light.woff') format('woff'),
    url('../fonts/JetBrainsMono/ttf/JetBrainsMono-Light.ttf') format('truetype');
    font-style: normal;
}

@font-face{
    font-family: 'JetBrainsMono_Bold';
    src: url('../fonts/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
    url('../fonts/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff'),
    url('../fonts/JetBrainsMono/ttf/JetBrainsMono-Bold.ttf') format('truetype');
    font-style: normal;
}

body {
    font-family: 'JetBrainsMono_Regular', sans-serif;
    /*font-weight: 100 !important;*/
    color: #414042 !important;
}


h3 {
    font-family: "Apercu Pro";
    font-weight: 200;
}


.navbar{
    padding: 2rem;
}
.navbar-brand{
    font-size: 2.6rem;
}

.navbar_list{
    display: inline-flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
}

.navbar_list a {
    margin-left: 3rem;
    text-decoration : none;
    color: #414042;
}
.navbar-toggler{
    outline: none;
    padding-right: 0;
    border: none;
}

accent{
    color: #0671A1;
    font-weight: 300;
}

#background_container{
    position: fixed;
    z-index: -1;
    background-image: url("../img/home_page_face.png");
    background-size: 429px;
    height: 650px;
    background-repeat: no-repeat;
    background-position-x:  -90px;
    background-position-y:  30px;
    padding: 2rem;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #414042;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #0671A1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (max-width: 280px) {

    .navbar-brand{
        margin: 0;
        font-size: 1.30rem;
    }
}
@media (max-width: 360px) {

    .navbar-brand{
        margin: 0;
        font-size: 1.50rem;
    }
}

@media (min-width: 360px) {

    .navbar-brand{
        margin: 0;
        font-size: 1.50rem;
    }
}

@media (max-width: 450px) {

    .navbar-brand{
        font-size: 1.5rem;
    }
    #tag_line{
        margin-top: 2rem !important;
    }
}

@media (min-width: 620px) {
    .navbar-brand{
        margin: 0;
        font-size: 2.60rem;
    }
}

@media (max-width: 992px) {
    #background_container{
        opacity: 25%;
    }
}

@media (min-width: 1200px) {  }

a:hover {
    color: #0671A1;
}